@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NanumGothic';
  src: url('/fonts/NanumGothic-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Iosevka';
  src: url('/fonts/Iosevka.ttf'); /* Ensure the font file is placed in the public directory */
}

@font-face {
  font-family: 'IosevkaNerdFontMono';
  src: url('/fonts/IosevkaNerdFontMono.ttf'); /* Ensure the font file is placed in the public directory */
}

body{
  background-color: black;
  color: white;
}

.emoji {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: middle;
}