@font-face {
    font-family:'Iosevka';
    src: url('/fonts/Iosevka.ttf');
  }

img {
  top: -1px;
  width: 300px;
  height: 600px;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

li {
  margin: 2px 0;
}

ul {
  display: table-cell;
  text-align: center;
  border-color: #232328;
  border-right-width: 1px;
  border-right-style: solid;
  padding: 10px 25px;
  transition: all 0.8s;
  cursor: default;
  list-style-type: none;
}


ul > li:first-of-type{
  padding-top: 5px;
}

ul > li > a {
  text-decoration:none;
  color: #adadad;
  transition: all 0.8s;
}